<h1>Movies</h1>

<h4>This is a list of Movie titles which you have viewed.</h4>
<h5> test ddddcccc</h5>
<!-- # <%= "Must include email and password. Please try again" if @user && @user.errors.any? %> -->

<!-- <form action="/sessions" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
  </p> -->

  <!-- <input type="submit" /> -->
<!-- </form> -->
