<h1>Signup</h1>

<%= "Must include email and password. Please try again" if @user && @user.errors.any? %>
<% if @user.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
     <ul>
    <% @user.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<form action="/users" method="POST">
  <p>
    <label for="email">Email:</label>
    <input type="text" name="email" id="email"/>
  </p>
  <p>
    <label for="password">Password:</label>
    <input type="password" name="password" id="password"/>
  </p>
  <p>
      <label for="First Name">First Name:</label>
      <input type="text" name="first_name" id="first_name"/>
    </p>
    <p>
      <label for="Last Name">Last Name:</label>
      <input type="text" name="last_name" id="last_name"/>
    </p>
    <p>
      <label for="Zip Code">Zip Code:</label>
      <input type="integer" name="zip_code" id="zip_code"/>
    </p>
  <input type="submit" />
</form>
